<form action="/square/results">
  <div>
  <label for="user_number">Enter a number</label>
  </div>
  <div>
  <input type="text" name="number" id="user_number" placeholder="What number would you like the square of?">
  </div>
  <button>Calculate square</button>
</form>
