<h1>Calculate the square root of a number</h1>

<form action="/square_root/results">
  <div>
    <label for="user_number">Enter a number</label>
  </div>
  <div>
    <input type="text" name="number" id="user_number" placeholder="Enter a number you wish to know the square root of">
  </div>
  <button>Calculate square root</button>
</form>
