<h1>Random Number Results</h1>

<dl>
  <dt>
  Minimum
  </dt>
  <dd>
  <%= @min_number %>
  </dd>

  <dt>
  Maximum
  </dt>
  <dd>
  <%= @max_number %>
  </dd>

  <dt>
  Random Number
  </dt>
  <dd>
  <%= @rand_number %>
  </dd>
</dl>

<a href="/random/new">Calculate a new random number</a>
